# Ignorar entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Carpetas de salida
outputs/
data/raw/

# Archivos JSON generados
data/processed/coco_out/annotations_limpio.json
data/processed/coco_out/annotations_640.json

# Imágenes redimensionadas
data/raw/images_640/
